

.Header{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:start;
    width: 100%;
    height: 20%;
    border-radius: 20px 20px 0px 0px;
    background-color:#FAF9F4;
   
    margin-bottom: 1px;
    
    border-bottom: 1px solid #E5E5E0
    
    

}
.Title{
    display: flex;
    flex-direction:row;
    /* justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75%; */
    width: Fill (343px)px;
    height: Hug (30px)px;
    gap: 12px;
    opacity: 0px;

}
.back{
    width: 24px;
height: 24px;
padding: 20px 10px 0px 13px;
gap: 0px;
opacity: 0px;

}
.ChatName img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-top: 20px;
    object-fit: cover;
    margin-right: 5px;
    border-color: black;
    border-width: 1px;
    
}
.edit{
    padding-left: 200px;
    width: 20px;
    height: 20px;
    cursor: pointer;
   
    transition: transform 0.2s; 
}
.edit:hover {
    transform: scale(1.1); 
  }
.ChatName{
    display: flex;
    flex-direction:row;
}
.TripName{
    display: flex;
    flex-direction:row;
    width: Fixed (343px)px;
height: Hug (48px)px;
gap: 12px;
opacity: 0px;

   




}
.tripimage{
    width: 48px;
    height: 48px;
    gap: 0px;
    border-radius: 48px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    
}

.dots{
    width: 24px;
    height: 24px;
    padding-left: 40%;
    gap: 0px;
    opacity: 0px;
    object-fit: cover;
    transition: 0.2s;
    cursor: pointer;
    
}
.dots:hover{
    opacity: 1;
    transform: scale(1.1);
}
.Locations{
    display: flex;
    flex-direction: column;
    
    
}
.locationhead{
    display: flex;
    width: Fill (307px)px;
height: Hug (48px)px;
gap: 16px;
opacity: 0px;

}
.Locations .from{
    display:flex;
    flex-direction: row;
    font-weight: 700;
    padding:5px 10px 0px 0px;
    margin: 0;
    
}
.Locations .from p{
    margin: 0;
    font-weight: 450;
    padding-right: 10px;
    
}
.Locations .to{
    display:flex;
    flex-direction: row;
    margin-top: 10px;
    font-weight: 700;
    padding: 0px 0px 0px 0px;
}
.from1{
    margin: 0;
    font-weight: 400;
    padding-right: 10px;
}
.editname{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
.editname input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: border-color 0.25s;
}

  
@media (max-width:410px){
    .edit{
        height: 15px;
        width:15px;
        padding-left:160px;
    }
    .dots{
        height: 24px;
        width: 24px;
        padding-left: 32.5%;
    }
    
}
  