.MessageContainer {
    width: 375px;
height: 100dvh;
top: -924px;
left: -239px;
gap: 0px;

opacity: 0px;


    
    /* height: 100vh;  */
  }
.MessageBox{
    width: 400px;
    height: 100%;
    flex-direction: column;
    
    background: #FAF9F4;

    border-radius: 7px;
    position: fixed;
}


.MessageViewPort{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65%;
    
    
}
.MessageFooter{
    display: block;
  
    width: 100%;
    height: 18%;
    top: 696px;
   
    gap: 0px;
    opacity: 0px;
    
}
.textInput{
   
   
    display: flex;
    flex-direction: row;
    width: Fixed (375px)px;
 height: Hug (50px)px;
 padding: 8px 16px 8px 16px;
 gap: 12px;
 opacity: 0px;
 
 
 }

.contain{
    display: flex;
    flex-direction: row;
    width: 100%;
height: Hug (42px)px;
padding: 11px 12px 11px 12px;
gap: 16px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;
background: #FFFFFF;



}


/* input, select, textarea{


    
} */

input{
   
    border-radius: 10px;
    width: 100%;
    height: Hug (18px)px;
    gap: 0px;
    opacity: 0px;
    
    background:#FFFFFF;
    color: black;
    border: none;
    outline: none;
    
    
}

img{
    width: 25px;
    height: 25px;
    padding: 5px;
    gap: 0px;
    opacity: 0px;
    padding-right: 3px;
    
}

/* @media (max-width:410px){
    .MessageContainer{
            width: 350px;
            
    }
    .MessageBox{
        height: 100vh;
    }
} */

@media (max-width:410px){
    
    .MessageBox{
        width:100%;
       
     
    }
}


 
  